:host {
    display: flex;
    flex: 1;

    .dashboard-container {
        display: flex;
        flex: 1;
        flex-direction: column;

        .city-wrapper {
            display: flex;
            flex: 1;
            flex-direction: column;
        }
    }

}